.cont p {
    font-size: 16px;
    color: black;
    /* Adjust text color as needed */
    text-shadow: none;
    /* Remove default shadow if needed */
    transition: font-size 0.2s ease, text-shadow 0.2s ease;
    /* Adjust transition speed and type */
}

.cont p:hover {
    font-size: 1.125em;
    /* Increase font size on hover (adjust percentage as needed) */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /* Adjust shadow offset, blur, and color */
}

.dev {
    border: solid;
    width: 90%;
}

.dev-img,
.dev-des {
    vertical-align: top;
    display: inline-block;
    margin: 20px;
}

.dev-img {
    width: 20%;
    text-align: left;
}

.dev-des {
    width: 70%;
    margin-left: 50px;
}

@media(max-width:1320px) {
    .dev {
        width: 100%;
    }

    .dev-img {
        width: 30%;
        text-align: left;
        margin-left: 10px;
    }

    .dev-des {
        width: 60%;
        margin-left: 10px;
    }
}

@media(max-width:768px) {
    .dev {
        width: 100%;
    }

    .dev-img {
        width: 40%;
        text-align: left;
        margin-left: 10px;
    }

    .dev-des {
        width: 80%;
        margin-left: 10px;
    }
}

@media(max-width:540px) {
    .dev {
        width: 100%;
    }

    .dev-img,
    .dev-des {
        vertical-align: top;
        display: block;
        width: 90%;
        margin-left: 10px;
        text-align: center;
    }

    .dev-des h2 {
        text-align: center;
    }

    .dev-des p {
        text-align: justify;
    }
}