@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header-contacts {
  font-size: 16px;
  color: #666666;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  background: #001f44;
  display: block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.contact {
  width: 50%;
  float: left;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.top-header-icons {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
}

.top-header-icons-ul {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 5px 0;
  text-align: left;
}

.top-header-icons-ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
  text-align: left;
}

.social {
  text-align: right;
}

.top-header-icons-ul li a {
  height: auto;
  margin: 0;
  padding: 0 30px 0 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #dbd8d8;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none !important;
  background-color: transparent;
}

.top-header-icons-ul li a i {
  color: #fff;
  font-size: 14px;
  margin-right: 4px;
}

/* Header Brand Styles */
.header-brand {
  height: auto;
  width: 100%;
  background: white;
  display: block;
}

.header-image {
  display: block;
  height: auto;
  width: 100%;
  background: white;
  text-align: center;
}

.logo-header {
  display: inline;
  width: 60%;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  .contact {
    width: 50%;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
  }

  .top-header-icons {
    text-align: center !important;
  }

  .top-header-icons-ul {
    text-align: center;
  }

  .top-header-icons-ul li a {
    float: none !important;
    text-align: center !important;
    padding: 0 10px 0 0;
    font-size: 13px;
  }

  .logo-header {
    width: 80%;
  }
}

@media only screen and (max-width: 720px) {
  .contact {
    width: 100%;
  }

  .logo-header {
    width: 100%;
  }
}

@media only screen and (max-width: 452px) {
  .logo-header {
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .logo-header {
    width: 100%;
  }
}