@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,300,700');

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {  
  height: auto;
  width: 100%;
  font-size: 16px;
  color: #666666;
}

.contact { 
  width:100%;
  display: block;
  background: #001f44;
}

.contacts {
  width: 50%;
  float: left;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  background: #001f44;
  text-align: center;
}

.icons-ul {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

.icons-ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
  text-align: left;
}

.icons-ul li a {
  height: auto;
  margin: 0;
  padding: 0 30px 0 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #dbd8d8;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none !important;
  background-color: transparent;
}

.icons-ul li a i {
  color: #fff;
  font-size: 14px;
  margin-right: 4px;
}

/* Header Brand Styles */
.header .brand {
  height: auto;
  width: 100%;
  background: white;
  display: block;
  text-align: center;
}

.header .image {
  display: inline;
  width: 60%;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  .contacts {
    width: 50%;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
  }

  .icons-ul {
    text-align: center !important;
  }

  .icons-ul li a {
    float: none !important;
    text-align: center !important;
    padding: 0 10px 0 0;
    font-size: 13px;
  }

  .header .image {
    width: 80%;
  }
}

@media only screen and (max-width: 720px) {
  .contacts {
    width: 100%;
  }

  .header .image {
    width: 100%;
  }
}
