.cont {
    line-height: 1.6;
    display: block;
    padding: 20px;
    background-color: #f0f0f0;
}

.cont .image {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    height: auto;
}

.cont .title,
.cont h2,
.cont h1 {
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
}

.cont .title {
    color: #369;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.cont hr {
    max-width: 1000px;
    margin: 0 auto;
    height: 2px;
}

.cont p {
    max-width: 1000px;
    margin: 20px auto;
    font-size: 16px;
    color: black;
    text-align: justify;
    transition: font-size 0.2s ease, text-shadow 0.2s ease;
}

.cont p:hover {
    font-size: 1.125em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cont #tbl {
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
}

.cont #tbl td {
    border: 1px solid #a5baff;
    padding: 3px 7px;
    word-wrap: break-word;
}

.dev {
    border: solid;
    max-width: 1024px;
    margin: 0 auto;
}

.dev-img,
.dev-des {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.dev-img {
    width: 30%;
}

.dev-des {
    width: 60%;
}

.dev-img a {
    text-decoration: none;
}

.dev-img a:hover {
    text-decoration: underline;
}

@media (max-width: 1320px) {
    .dev-img,
    .dev-des {
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .dev-img {
        width: 40%;
    }

    .dev-des {
        width: 80%;
    }
    .dev-img h2,
    .dev-img h4,
    .dev-img h5,
    .dev-img p {
        text-align:center;
    }
    .dev-des h2 {
        text-align:center;
    }
}

@media (max-width: 540px) {
    .dev {
        width: 100%;
    }

    .dev-img,
    .dev-des {
        display: block;
        width: 90%;
        text-align: center;
    }
}
