.mid-sec {
    display: flex;
    flex-wrap: wrap;
    margin-left:100px;
    margin-right:100px;
    gap: 20px; /* Adjust gap between cards */
}

.mid-sec .card {
    flex: 1;
    min-width: 22%; /* Adjust as needed to fit the number of cards per row */
    max-width: 24%;
    box-sizing: border-box;
}

.mid-sec .card .box {
    margin-top: 2rem;
    padding: 20px;
    background: transparent;
    border-radius: 5px;
    transition: margin 1s ease, box-shadow 1s ease;
    text-align: center;
    height: 320px;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid black;
}

.mid-sec .card .box:hover {
    margin-top: -5px;
    box-shadow: 0px 0px 40px black;
}

.mid-sec .card .box .img {
    opacity: 1;
    width: 160px;
    height: 160px;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    border: 2px solid black;
}

.mid-sec .card .box h4 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0 10px;
    color: brown;
    text-align: center;
    font-weight: 700;
}

.mid-sec .card .box h3 {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
}

.mid-sec .card a {
    text-decoration: none;
}

@media (max-width: 1280px) {
    .mid-sec .card {
        min-width: 45%;
    }

    .mid-sec {
        padding-left: 100px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .mid-sec .card {
        min-width: 90%;
    }

    .mid-sec {
        padding: 40px;
        margin: 0;
    }

    .mid-sec .card .box {
        transition: none;
    }

    .mid-sec .card .box:hover {
        margin-top: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}
