.top-sec {
    text-align: center;
    display: block;
    width: auto;
    margin: 20px 50px;
}

.top-sec .slider, .top-sec .notice-section {
    display: inline-block;
    width: 45%;
    margin: 0 15px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.top-sec .slider {
    align-self: flex-start;
}

.top-sec .notice-section {
    align-self: flex-end;
    vertical-align: top;
}

.top-sec .notice-section .notice-board {
    border-radius: 5px;
    background-color: #F0F0F0;
    text-align: center;
}

.tabs {
    overflow: hidden;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    border-radius: 10px;
}

.tabs .tab-link {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    text-align: center;
}

.tabs .tab-link:hover {
    background: #55ACEE;
    color: white;
}

.tabs .tab-link.active {
    background: #5271FF;
    color: white;
}

.tab-content {
    display: none;
    padding: 5px;
}

.marquee {
    overflow: hidden;
}

.notice {
    margin: 10px 0;
    border: 2px solid grey;
    padding: 5px;
}

.notice a {
    text-decoration: none;
    color: black;
}

.notice a:hover {
    text-decoration: underline;
}

.notice a:after {
    content: url('../img/gif/newanim.gif');
    display: inline-block;
    margin-left: 5px;
}

@media screen and (max-width: 1024px) {
    .top-sec {
        margin: 20px 0 10px;
    }

    .top-sec .slider, .top-sec .notice-section, .mid-sec .sec {
        display: block;
        width: 100%;
        margin: 20px 0;
    }
}

.marquee-links {
    width: calc(90% + 30px);
    max-width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

.marquee-links .high {
    margin: 0 10px 0 0;
    font-weight: bold;
    color: white;
    background-color: orangered;
    font-size: 16px;
    padding: 4px;
    border-radius: 3px;
}

.marquee-links marquee {
    flex: 1;
    white-space: nowrap;
    display: block;
}

.marquee-links marquee a {
    text-decoration: none;
    padding: 5px;
    color: #001f44;
    display: inline-flex;
    align-items: center;
}

.marquee-links marquee a:before {
    content: url('../img/gif/newanim.gif');
    margin-right: 5px;
}

.marquee-links marquee a:hover {
    text-decoration: underline;
    background: #bababa;
    font-size: 1.05em;
    transition: font-size 0.2s, background-color 0.2s;
}

.mid-sec {
    display: flex;
    flex-wrap: wrap;
    margin-left:100px;
    margin-right:100px;
    gap: 20px; /* Adjust gap between cards */
}

.mid-sec .card {
    flex: 1;
    min-width: 20%; /* Adjust as needed to fit the number of cards per row */
    max-width: 24%;
    box-sizing: border-box;
}

.mid-sec .card .box {
    margin-top: 2rem;
    padding: 20px;
    background: transparent;
    border-radius: 5px;
    transition: margin 1s ease, box-shadow 1s ease;
    text-align: center;
    height: 320px;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid black;
}

.mid-sec .card .box:hover {
    margin-top: -5px;
    box-shadow: 0px 0px 40px black;
}

.mid-sec .card .box .img {
    opacity: 1;
    width: 160px;
    height: 160px;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    border: 2px solid black;
}

.mid-sec .card .box h4 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0 10px;
    color: brown;
    text-align: center;
    font-weight: 700;
}

.mid-sec .card .box h3 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
}

.mid-sec .card a {
    text-decoration: none;
    color:black;
}

@media (max-width: 1320px) {
    .mid-sec .card {
        min-width:20%;
    }

    .mid-sec {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }
}

@media (max-width: 1080px) {
    .mid-sec .card {
        min-width:30%;
    }

    .mid-sec {
        padding-left: 50px;
        padding-right: 50px;
        margin: 0;
    }
}

@media (max-width: 960px) {
    .mid-sec .card {
        min-width:45%;
    }

    .mid-sec {
        padding-left: 100px;
        padding-right: 100px;
        margin: 0;
    }
}

@media (max-width: 720px) {
    .mid-sec .card {
        min-width: 90%;
    }

    .mid-sec {
        padding: 40px;
        margin: 0;
    }

    .mid-sec .card .box {
        transition: none;
        height: auto !important; /* Use !important to override inline styles */
    }

    .mid-sec .card .box:hover {
        margin-top: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.down-sec {
    text-align: center;
    display: block;
    background-color: #fff;
    padding: 20px 0;
}

.down-sec .panel {
    margin: 10px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.panel .info-btn {
    color: #FFFFFF;
    width: 200px;
    height: 75px;
    margin: 10px;
    background: #5271FF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    transition: background 0.3s;
    word-wrap: break-word;
    white-space: normal;
}

.panel .info-btn:hover {
    background: #00BFFF;
}

@media (max-width: 880px) {
    .down-sec .panel {
        flex-direction: column;
    }

    .panel .info-btn {
        max-width: 300px;
        height: auto;
        padding: 15px 20px;
    }
}

@media (max-width: 480px) {
    .panel .info-btn {
        width: 100%;
        max-width: 250px;
        height: auto;
        padding: 20px;
        font-size: 14px;
    }
}
