/* Main Content */
.bg {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  max-width: 960px;
}

#title h1 {
  font-size: 40px;
  color: #007bff;
  margin: 0;
  padding: 10px 0;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #007bff;
  display: inline-block;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#img {
  margin-right: 20px;
}

#img img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

#login {
  width: 100%;
  max-width: 400px;
}

table.tbl {
  width: 100%;
  border-collapse: collapse;
}

.tblhead {
  background-color: #007bff;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

td {
  padding: 10px;
}

.lbl {
  text-align: right;
  padding-right: 10px;
}

.txt, .btn {
  width: calc(100% - 20px);
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.txt {
  border: 1px solid #ccc;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

/* Mobile First Approach */
.bg {
  margin: 20px;
  padding: 15px;
}

#title h1 {
  font-size: 32px;
}

#main {
  flex-direction: column;
}

#img {
  margin-right: 0;
  margin-bottom: 20px;
}

#img img {
  max-width: 100%;
}

#login {
  max-width: 100%;
}

/* Media Queries for Tablets and Larger Screens */
@media (min-width: 768px) {
  .bg {
    margin: 50px auto;
    padding: 20px;
  }

  #title h1 {
    font-size: 36px;
  }

  #main {
    flex-direction: row;
  }

  #img {
    margin-right: 20px;
    margin-bottom: 0;
  }

  #login {
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  #title h1 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  #img img {
      display: none;
  }
}