.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.cont .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 90%;
    max-width: 1024px;
    display: block;
}

.my-h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #369;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width: 880px) {
    .cont .container {
        width: 100%;
        padding: 10px;
    }
}