/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.header {
    height: auto;
    font-size: 16px;
    color: #666666;
}

    /* Header Brand Styles */
    .header .brand {
        width: 100%;
        height: auto;
        background: white;
        display: block;
        text-align: center;
    }

.contacts {
    width: 50%;
    float: left;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #001f44;
    text-align: center;
}

.icons-ul {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

    .icons-ul li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline;
        text-align: left;
    }

        .icons-ul li a {
            height: auto;
            margin: 0;
            padding: 0 30px 0 0;
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            color: #dbd8d8;
            transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
            text-decoration: none !important;
            background-color: transparent;
        }

            .icons-ul li a i {
                color: #fff;
                font-size: 14px;
                margin-right: 4px;
            }


.header .image {
    display: inline;
    width: 60%;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
    .contacts {
        width: 50%;
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
    }

    .icons-ul {
        text-align: center !important;
    }

        .icons-ul li a {
            float: none !important;
            text-align: center !important;
            padding: 0 10px 0 0;
            font-size: 13px;
        }

    .header .image {
        width: 80%;
    }
}

@media only screen and (max-width: 720px) {
    .contacts, .header .image {
        width: 100%;
    }
}

/* navbar styles */
.navbar {
    overflow: hidden;
    background-color: #001f44;
    transition: background-color 0.3s ease-out, max-height 0.3s ease-out;
}

    .navbar .icon,
    .navbar .logo-nav {
        display: none;
    }

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: background-color 0.3s;
    }

        .navbar a:hover,
        .subnav:hover .subnavbtn {
            color: black;
            background-color: #f2f2f2;
            transition: background-color 0.3s ease-in-out;
        }

    .navbar i {
        margin-right: 8px;
        margin-left: 4px;
    }

.subnav {
    float: left;
    overflow: hidden;
}

    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        cursor: pointer;
    }

        .subnav .subnavbtn.active {
            background-color: #acacac;
        }

.navbar .subnav-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    width: auto;
    z-index: 1;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: hidden;
}

.subnav-content a {
    float: none;
    color: black;
    text-align: left;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    transition: background-color 0.3s;
}

    .subnav-content a:hover {
        border: 1px solid black;
        background-color: #acacac;
        color: #001f44;
    }

/* Subnav styles for hover effect */
@media screen and (min-width: 601px) {
    .subnav:hover .subnav-content {
        display: block;
        visibility: visible;
        max-height: 350px; /* Adjust based on content */
    }
}

/* Utility classes */
.show {
    display: block !important;
    visibility: visible !important;
    max-height: fit-content !important; /* Adjust based on content */
}

/* Mobile styles */
@media screen and (max-width: 600px) {
    .navbar a:not(:first-child),
    .subnav .subnavbtn {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .navbar a.icon-close {
        display: none;
    }

    .navbar.responsive {
        position: relative;
    }

        .navbar.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .navbar.responsive .icon-close {
            position: absolute;
            top: 15px;
            right: 0px;
            color: red;
        }

            .navbar.responsive .icon-close:hover,
            .navbar.responsive .icon-close:focus {
                color: brown;
                text-decoration: none;
                cursor: pointer;
            }

        .navbar.responsive .logo-nav {
            display: block;
            position: relative;
            top: 0;
            width: 90%;
            padding: 14px 16px;
            background-color: #001f44;
            text-align: center;
            transition: padding 0.3s ease-in-out;
        }

        .navbar.responsive a {
            float: none;
            display: block;
            text-align: left;
        }

        .navbar.responsive .subnav {
            float: none;
        }

        .navbar.responsive .subnav-content {
            position: relative;
            width: 100%;
            max-height: none;
            visibility: visible;
        }

        .navbar.responsive .subnav .subnavbtn {
            display: block;
            width: 100%;
            text-align: left;
        }

        .navbar.responsive .subnav-content {
            max-height: none;
        }

        .navbar.responsive .subnav .active + .subnav-content {
            display: block;
        }

        .navbar.responsive .home-link {
            display: block;
        }

    /* Sidebar styles */
    .sidebar {
        width: 75%; /* Adjust width as needed */
        height: 100%;
        background-color: #001f44;
        overflow-y: auto;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%); /* Initially hidden off-screen */
        transition: transform 0.3s ease-in-out; /* Smooth slide effect */
    }

        .sidebar.show {
            transform: translateX(0); /* Slide in from the left */
        }

    /* Fixed/sticky navbar */
    .navbar.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: -3px 13px 24px -1px rgba(0, 0, 0, 0.3);
        z-index: 99999;
        transition: all 0.3s ease-out;
    }
}

.footer {
    background: #140B5C;
    width: 100%;
    bottom: 0;
    left: 0;
}

    .footer .content {
        max-width: 1280px;
        margin: auto;
        padding: 2rem 2.5rem;
    }

        .footer .content .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1.25rem;
        }

.content .top .logo-name {
    width: 300px;
}

.content .top .media-icons {
    display: flex;
}

    .content .top .media-icons a {
        height: 2.5rem;
        width: 2.5rem;
        margin: 0 0.5rem;
        border-radius: 50%;
        text-align: center;
        line-height: 2.5rem;
        color: #fff;
        font-size: 1.0625rem;
        text-decoration: none;
        transition: color 0.4s ease, background 0.4s ease;
    }

.top .media-icons a:hover {
    color: currentColor;
    background: #fff;
}

.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

.top .media-icons a:nth-child(5) {
    background: #2c4762;
}

.footer .content .link-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .footer .content .link-boxes .boxes {
        flex: 1 1 calc(20% - 0.625rem);
        margin-bottom: 1rem;
    }

.content .link-boxes .boxes .link_name {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0.625rem;
    position: relative;
}

.link-boxes .boxes .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.125rem;
    height: 0.125rem;
    width: 2.1875rem;
    background: #fff;
}

.content .link-boxes .boxes li {
    margin: 0.375rem 0;
    list-style: none;
}

    .content .link-boxes .boxes li a {
        color: #fff;
        font-size: 0.875rem;
        font-weight: 400;
        text-decoration: none;
        opacity: 0.8;
        transition: opacity 0.4s ease, text-decoration 0.4s ease;
    }

        .content .link-boxes .boxes li a:hover {
            opacity: 1;
            text-decoration: underline;
        }

.footer .bottom-details {
    width: 100%;
    background: #0F0844;
}

    .footer .bottom-details .bottom_text {
        max-width: 1250px;
        margin: auto;
        padding: 1.25rem 2.5rem;
        display: flex;
        justify-content: space-between;
    }

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 0.875rem;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
    transition: opacity 0.4s ease;
}

    .bottom-details .bottom_text a:hover {
        opacity: 1;
        text-decoration: underline;
    }

@media (max-width: 48em) { /* 768px */
    .footer {
        position: relative;
    }

    .content .top .media-icons a {
        height: 2.1875rem;
        width: 2.1875rem;
        font-size: 0.875rem;
        line-height: 2.1875rem;
    }

    .footer .content .link-boxes .boxes {
        flex: 1 1 calc(33.33% - 0.625rem);
    }

    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 0.75rem;
    }
}

@media (max-width: 36em) { /* 576px */
    .footer .content .top {
        flex-direction: column;
    }

    .content .top .media-icons {
        margin-top: 1rem;
    }

    .footer .content .link-boxes .boxes {
        flex: 1 1 calc(50% - 0.625rem);
    }
}

#TopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 60px; /* Place the button at the bottom of the page */
    right: 0px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 15px; /* Some padding */
    border-radius: 25px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

    #TopBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }
}
