@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,300,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #b6b7bc;
  font-size: 0.8em;
  color: #696969;
}

a {
  color: #034af3;
  text-decoration: none;
}

a:hover {
  color: #1d60ff;
}

p {
  margin-bottom: 10px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-variant: small-caps;
  color: #666;
  margin: 0;
}

h1 {
  font-size: 1.6em;
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-size: 1.2em;
}

h4, h5, h6 {
  font-size: 1.1em;
}

.page {
  width: 960px;
  background: #fff;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #496077;
}

.header {
  background: #001f44;
  padding: 0 20px;
  color: #f9f9f9;
}

.header h1 {
  line-height: 2em;
  font-size: 2em;
  color:white;
}

.title, .cen {
  text-align: center;
}

.cen {
  width: 90%;
  margin: 0 auto;
}

.cen .data {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 15px;
  text-align: left;
}

.cen ul {
  list-style: none;
  padding: 0 20px;
}

.cen li {
  margin-bottom: 10px;
}

.cen a {
  color: #007bff;
}

.cen a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .cen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cen .data {
    width: 33%;
  }
}

@media (max-width: 880px) {
  .page {
    width: 100%;
  }

  .header h1 {
    font-size: 1.5em;
    padding-left: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.9em;
  }

  .page {
    padding: 10px;
    border: none;
    box-shadow: none;
  }

  .header h1 {
    font-size: 1.2em;
    padding-left: 0;
    line-height: 1.5em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
  }
}

.footer {
  background: #001f44;
  color: white;
  text-align: left;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.footer p {
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
}

@media (max-width: 500px) {
  .footer p {
    font-size: 1em;
  }
}
