.slider-section,
.notice-section,
.links-section {
    border-radius: 10px;
    background: rgba(225, 225, 225, 0.25);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.marquee {
    overflow: hidden;
}

.notice {
    margin: 10px 0;
    padding: 10px;
    color: brown;
    font-size: 16px;
}

.notice a {
    text-decoration: none;
}

.notice a:hover {
    text-decoration: underline;
}

.notice a:after {
    content: '';
    display: inline-block;
    width: 30px; /* Adjust width as needed */
    height: 15px; /* Adjust height as needed */
    background-image: url('../gif/newanim.gif');
    background-size: cover;
    margin-left: 5px;
}

.links-section {
    width: 100%;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}

.links-section .high {
    margin-right: 10px;
    font-weight: bold;
    color: white;
    background-color: orangered;
    font-size: 16px;
    padding: 4px;
    border-radius: 3px;
    margin-bottom:0px;
}

.links-section marquee {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
}

.links-section marquee a {
    text-decoration: none;
    padding: 5px;
    display: inline-flex;
    align-items: center;
}

.links-section marquee a:before {
    content: url('../gif/newanim.gif');
    margin-right: 5px;
}

.links-section marquee a:hover {
    text-decoration: underline;
    background: #bababa;
    font-size: 1.05em;
    transition: font-size 0.2s, background-color 0.2s;
}


@media (max-width: 768px) {
    .links-section {
        height: auto;
        align-items: flex-start;
    }
}

@media (max-width: 576px) {
    .links-section {
        padding: 10px;
        height: auto;
    }

    .links-section marquee {
        font-size: 14px;
    }

    .notice {
        font-size: 14px;
    }
}