* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

a {
  color: #034af3;
  text-decoration: none;
}

a:hover {
  color: #1d60ff;
}

p {
  margin-bottom: 10px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-variant: small-caps;
  color: #666;
  margin: 0;
}

h1 {
  font-size: 1.6em;
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-size: 1.2em;
}

h4, h5, h6 {
  font-size: 1.1em;
}

.page {
  width: 960px;
  background: #fff;
  margin: 5px auto;
  border: 1px solid #496077;
}

.header {
  background: #001f44;
  padding: 0 20px;
  color: #f9f9f9;
}

.header h1 {
  font-size: 2em;
  color:white;
}

.title {
  text-align: center;
}

@media (max-width: 880px) {
  .page {
    width: 100%;
  }

  .header h1 {
    font-size: 1.5em;
    padding-left: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.9em;
  }

  .page {
    padding: 10px;
    border: none;
    box-shadow: none;
  }

  .header h1 {
    font-size: 1.2em;
    padding-left: 0;
    line-height: 1.5em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
  }
}

.footer {
  background: #001f44;
  color: white;
  text-align: left;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.footer p {
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
  margin-bottom:0px;
}

@media (max-width: 500px) {
  .footer p {
    font-size: 1em;
  }
}
